body{
 
    background-color:#151515;
}


.btn1{
    background-color: yellow;
    border: 10px;
    padding: 25px 140px;
    text-align: center;
    color: aliceblue;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn2{
    background-color: skyblue;
    border: 10px;
    padding: 25px 220px;
    text-align: center;
    color: aliceblue;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn3{
    background-color: purple;
    border: 10px;
    padding: 25px 200px;
    text-align: center;
    color: aliceblue;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
