body{

    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-image:url(images/fondos.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  
}

*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario {
    background: gainsboro;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40 px;
}
input[type="text"],
input[type="password"]{
    font-size: 20 px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}



.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20 px;
    background: #1a2537;
    padding: 15 px 20 px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

@media(main-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

.caja-blanca{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 400px;
    height: 400px;
}

.caja-blanca img{
    width: 200;
    height: 200;
}