body{

    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-image:url(images/fondillo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  
}

.form-group{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}