.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
}

.btn1{
    background-color: yellow;
    border: 10px;
    padding: 25px 125px;
    text-align: center;
    color: aliceblue;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn2{
    background-color: skyblue;
    border: 10px;
    padding: 25px 220px;
    text-align: center;
    color: aliceblue;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn3{
    background-color: purple;
    border: 10px;
    padding: 25px 170px;
    text-align: center;
    color: aliceblue;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

